.react-input-ui input:not(.browser-default){
    border-bottom: none!important;
}

.react-input-ui input:not(.browser-default):focus {
    border-bottom: none!important;
    box-shadow: none!important;
}